body{
    font-family:'Palanquin';
    /* font-family: 'Roboto', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 16px;
    line-height: 170%;
    color: #000;
    font-weight: 400;
}
.clear{clear: both;}
/* br{
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
} */
.box-shadow{
  box-shadow: 1px 1px 5px lightgrey;
}
.box-shadow .info{
  margin:0!important;
  padding: 20px;
  box-sizing: border-box;
}
/************** TYPOGRAPHY **************/
h1,h2,h3,h4{
  line-height: 150%;
  /* font-family: 'Lato'; */
  font-family: 'Palanquin', sans-serif;
  font-weight: 500;
}
h1:first-child,h2:first-child,h3:first-child,h4:first-child{
  margin-top: 0;
}
h1{font-size: 2.25em;}
h2{font-size: 2em; margin: 2.5% 0 1% 0;}
h3{font-size: 1.5em; margin: 2.5% 0 0.5% 0; line-height: 130%; }
h4{font-size: 1.25em;}
h5{font-size: 1em;}
p{
  font-size: 1em;
  margin: 0% 0 .25% 0;
  font-weight: 400;
  opacity: .8;
  line-height: 155%;
}
p.meta{ font-size: .85em; opacity: .85; }

a,
a:active,
a:visited{
  text-decoration: none;
  color: #21606A;
}
strong,b{ font-weight: 600; }
em{ font-style: italic; }
.bg-white{background-color: white;}
.bg-black{background-color: black;}
.bg-green{background-color: green;}
.txt-white{color: white;}
.txt-black{color: black;}

img{
  width: auto;
  max-width: 100%;
}
.align-center{ text-align: center; }

section{
  width: 100%;
  margin: auto auto 52px auto;
  display: block;
  clear: both;

  overflow: hidden;
  position: relative;
}

.container{
  width: 960px;
  margin: auto;

  position: relative;
  z-index: 3;
}

[class*='col-']{
  width: 100%;
  display: inline-block;
  min-height: 1px;
  margin:-2px;
  vertical-align: top;
}
.col {
  padding:0 1.15em;
  box-sizing: border-box;
}

.col-1 {width: 8.33333%;}
.col-2 {width: 16.66667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33333%;}
.col-5 {width: 41.66667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333%;}
.col-8 {width: 66.66667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333%;}
.col-11 {width: 91.66667%;}
.col-12 {width: 100%;}

.col-4:nth-child(3n-1) > .col{
  padding:0 1em 2em 1em;
}
.col-4:nth-child(3n-2) > .col{
  padding:0 1em 2em 0;
}
.col-4:nth-child(3n) > .col{
  padding:0 0 2em 1em;
}

.col-3:nth-child(4n-3) > .col{
  padding:0 1em 2em 0!important;
}
.col-3:nth-child(4n-2) > .col,
.col-3:nth-child(4n-1) > .col{
  padding:0 1em 2em 1em!important;
}
.col-3:nth-child(4n) > .col{
  padding:0 0 2em 1em!important;
}

.col-6:nth-of-type(2n-1) > .col,
.col-8:nth-of-type(1) > .col,
.col-9:nth-of-type(1) > .col{
  padding:0 4.5% 0 0;
}
.col-6:nth-of-type(2n) > .col,
.col-8:nth-of-type(2) > .col,
.col-9:nth-of-type(2) > .col{
  padding:0 0 0 4.5%;
}

/************** NAVIGATION **************/
ul.menu li{
  display: inline-block;
  margin: 0 0 0 20px;
  position: relative;
}
ul.menu li.expandable:after{
  font-family: FontAwesome;
  content:"\f107";

  display: inline-block;
}
ul.menu li.expandable.open:after{
  content:"\f106";
}
ul.menu li:before{ display: none; }

ul.menu li ul{
  display: none;
  width: 150px;
  position: absolute;
  top: 20px;
  background: white;
}
ul.menu li ul li{
  display: block;
  width: 100%;
  margin: 0;
}
ul.menu li ul li a{
  font-size: .85em;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid black;
}

ul.breadcrumbs{
  margin: 5px 0;
  position: relative;
  z-index: 2;
}
ul.breadcrumbs li{
  display: inline-block;
  margin:0;
  color: #000;
}
ul.breadcrumbs li a{
  color: #000;
}
ul.breadcrumbs li:after{
  font-family: FontAwesome;
  content:"\f105";

  display: inline-block;
  margin: 0 0 0 10px;
}
ul.breadcrumbs li:last-child:after{ display: none; }
ul.breadcrumbs li:before{ display: none; }
ul.breadcrumbs li:last-child{
  font-weight: 500;
}
/************** BACKGROUND IMAGE **************/
.bg-img{
    background-size: cover;
    background-position: center;
    width: 100%;
}

/************** BUTTONS **************/
.btn,input[type="submit"],button{
    cursor: pointer;
    width: auto;
    white-space: nowrap;
    padding: 3px 15px 4.5px 15px;
    text-decoration: none;
    background: #21606A;
    border: 1.5px solid #21606A;
    color: #fff;
    display: table;
    transition-duration: 0.25s;
    vertical-align: middle;
    font-weight: 400;

    border-radius: 5px;

    font-size: 1em;
    font-weight: 500;

    font-family: 'Palanquin'!important;
}
a.btn.inline{
  display: inline-block;
}
a.btn.secondary{
  border-radius: 0;
  background-color: transparent;
  color: #21606A;

  padding: 0 0 1px 0;

  border:none;
  border-bottom: 1.5px solid #21606A;
}
a.btn.secondary:hover{
  border:none!important;
  border-bottom: 1.5px solid #21606A!important;
}
a.btn:hover{
  transition-duration: .2s;
  border: 1.5px solid #21606A;
  background-color: transparent;
  color: #21606A!important;
}
a.btn:active,a.btn:visited{
  text-decoration: none;
  color: #fff;
}
a.btn.white:active,a.btn.white:visited{
  text-decoration: none;
  color: #21606A;
}
.btn.white{
  background: #fff;
  border: 1.5px solid #fff;
  color: #21606A;
}
.btn.blue-border{
  background: #fff;
  border: 1.5px solid #21606A;
  color: #21606A!important;
}
.btn.mid{
  margin: auto;
}
.btn:after{
  font-family: FontAwesome;
  content: "\f0da";
  margin-left: 7px;
  font-size: 1.15em;
  vertical-align: text-bottom;
}


a.btn.hover-blue:hover{
  border:1.5px solid #21606A;
  color: #21606A!important;
}
a.btn.hover-white:hover{
  border:1.5px solid #fff;
  color: #fff!important;
}

/************** LISTS **************/
ul, ol{
  margin: 1.5% 0;
  display: block;
}
li{ display: table; margin:1.5% 0;}
li:before{
  font-family: FontAwesome;
  content:"\f105";

  display: table-cell;
  width: 1em;
}
ol{ margin:0 0 0 20px; }
ol li{
  display: list-item;
}
ol li:before{ display: none; }


/************** FORMS **************/
input, textarea, select {
  background-color: #fff;
  width: 100%;
  font-size: 1em;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: 5px;
  display: block;

  margin:2.5% 0;
  line-height: 160%;
  vertical-align: top;

  font-family: 'Palanquin'!important;
}
input[type="submit"]{
  box-shadow: none;
}
input:last-child, textarea:last-child, select:last-child{
  margin: 2.5% 0 0 0;
}
input[type="radio"],input[type="checkbox"]{
  display: inline;
  width: auto;
  margin:1% 0;
}
textarea{
  min-height: 150px;
}
select {
  -webkit-appearance: none;
  background-color: transparent!important;
  vertical-align: middle;
  background-image: linear-gradient(45deg,transparent 50%,gray 50%),linear-gradient(135deg,gray 50%,transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,5px 5px,1px 1.5em;
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-indent: 0.01px;
  font-family: 'Palanquin'!important;
}
label,legend{
  font-weight: 500;
  display: block;
}
label{
  margin:3.5% 0 1.5% 0;
}
label:first-of-type{
  margin: 1.5% 0;
}
label.required:after{
  content: "*";
  color: red;
}
legend{
  text-align: center;
  padding: 0 20px;
}
/* fieldset{
  padding: 20px;
  border: 2px solid #000;
} */


/************** TABLES **************/
table{
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: auto;

  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.5% 0;
}
th,td{
  padding: 15px;
  border: 1px solid grey;
}

th{
  background: #000;
  color: white;
}
